
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


<ul>
    <li>Create WebService</li>
    <li>Post data to text area</li>
    <li>Upload and save and return a url to the user</li>
    <li>Use angular</li>
</ul>