
@{
    ViewBag.Title = "Features";
}

<h2>Features</h2>

<ul>
    <li>Validation of uploaded JSON or XML with auto-detection of the uploaded string's type.</li>
    <li>Upload files to be returned (images, docx etc) - blocking binaries initially until security concerns are addressed.</li>
    <li>Setup custom headers to return.</li>
    <li>Http POST requests.</li>
    <li>Placeholders for dynamic data.</li>
</ul>