<div class="jumbotron">
    <h1>Dummy API</h1>
    <p class="lead">
        Create a web service for testing your application quickly and easily - <strong>for free!</strong>
    </p>
    <p>
        @Html.ActionLink(@"Get started »", "Create", "Home", null, new { @class = "btn btn-primary btn-large" })
    </p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Overview</h2>
        <p>
            Dummy Web API is a simple service to create a webservice that returns sample data.
            You upload your data you want returned and the service will create a unique URI for
            you to call in your application or even unit (or integration) tests.
        </p>
        <p>
            @Html.ActionLink(@"Get started »", "Create", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>Features</h2>
        <p>
            Create a webservice to return JSON or XML or even any arbitary string constant.
            There are plenty of features in development and in the pipeline.
            See here to view the latest releases, upcoming and planned features.
            Also get in touch to suggest new features.
        </p>
        <p>
            @Html.ActionLink(@"Learn more »", "Features", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
    <div class="col-md-4">
        <h2>News</h2>
        <p>
            Alpha released! There is no persistent storage yet so your generated web service may go down.
            Very soon we will offer semi-permanent webservices and maybe fully permanent web services
            as part of a premium offer.
        </p>
        <p>
            @Html.ActionLink(@"Learn more »", "News", "Home", null, new { @class = "btn btn-default" })
        </p>
    </div>
</div>
