@{
    ViewBag.Title = "Restponder - Create Simple Mock Web Services";
}

<h2>Create mock service</h2>
<div ng-controller="CreateMockServiceController">
    <div class="row">
        <div class="col-md-12">
            <form role="form" name="createServiceForm">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-8">
                            <label for="responseBody">
                                Quickly create mock web services to quickly test your app. Supports Json, XML and plain text.
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10 col-md-8">
                            <input type="text" ng-model="service.name" class="form-control" placeholder="Service name" required />
                        </div>

                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="form-group">
                        <div class="col-sm-10 col-md-8">
                            <textarea id="responseBody" ng-model="service.body" rows="10" class="form-control responseBody" placeholder="Response body" required></textarea>
                        </div>
                        <div class="col-sm-2 col-xs-8 col-md-2">
                            <div class="hidden-xs"><content-type-stack button-group-class="'btn-group-vertical'" text="{{service.body}}" /></div>
                            <div class="visible-xs hidden-md hidden-lg"><br /><content-type-stack button-group-class="'btn-group btn-group-xs'" text="{{service.body}}" /></div>
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <button type="submit" ng-click="createService(service, createServiceForm)" class="btn btn-primary">Create</button>
                            <button type="button" ng-click="clearService(service)" class="btn btn-default">Clear</button>
                        </div>
                    </div>
                </div>


            </form>
        </div>
        <div class="col-md-12">
            <form class="form-inline" role="form">
                <h3>Generated Url</h3>
                <div class="form-group">

                    <input id="serviceUrl" ng-model="service.url" type="text" class="form-control" placeholder="Click create above..." readonly>
                </div>
                <div class="form-group">
                    <button id="copy-button" data-clipboard-target="serviceUrl" type="button" class="btn btn-info" title="copy to clipboard"><span class="glyphicon glyphicon-share"></span></button>
                    <button type="submit" ng-click="editApi(createServiceForm)" class="btn btn-primary">Edit</button>
                </div>
            </form>
        </div>


    </div>

</div>

@section scripts
{


    @Scripts.Render("~/bundles/app/create")

    <script src="~/Scripts/zeroclipboard/ZeroClipboard.min.js"></script>
    <script src="~/Scripts/zeroclipboard/ServiceUrlCopy.js"></script>
}