
@{
    ViewBag.Title = "Features";
}

<h2>Features <span class="glyphicon glyphicon-ok-sign"></span></h2>

<ul>
    <li>Currently only supports creation of the HTTP body response. (JSON, XML and plain text). </li>
    <li>The validator will indicate if the string is valid JSON or XML and will warn when it is not.</li>
</ul>

<h3>Planned features</h3>
<ul>
    <li>Upload files to be returned (images, docx etc) - blocking binaries initially until security concerns are addressed.</li>
    <li>Setup custom headers to return.</li>
    <li>HTTP POST requests.</li>
    <li>Placeholders for dynamic data.</li>
    <li>Validation of requests based on custom criteria (expected values and or value ranges)</li>
</ul>

<h3>Planned premium features</h3>
<ul>
    <li>Create simple rule-based web services</li>
</ul>




