@{
    ViewBag.Title = "Restponder";
}

<h2>Edit response</h2>
<div ng-controller="UpdateServiceController" data-ng-init="init('@ViewBag.Id')">
    


</div>

@section scripts
{

    <script src="~/Scripts/app/Services/Validation/XMLValidator.js"></script>
    <script src="~/Scripts/app/Services/Validation/JSONValidator.js"></script>
    <script src="~/Scripts/app/Services/Validation/contentTypeValidator.js"></script>
    <script src="~/Scripts/app/Directives/ContentTypeInfoStack.js"></script>
    <script src="~/Scripts/app/Services/WebServiceGenerator.js"></script>
    <script src="~/Scripts/app/Controllers/UpdateServiceController.js"></script>
    <script src="~/Scripts/zeroclipboard/ZeroClipboard.min.js"></script>
    <script src="~/Scripts/zeroclipboard/ServiceUrlCopy.js"></script>
}